always-auth=true

@korterra:registry=https://pkgs.dev.azure.com/KorTerra/_packaging/Platform-Feed/npm/registry/
; begin auth token
//pkgs.dev.azure.com/KorTerra/_packaging/Platform-Feed/npm/registry/:username=KorTerra
//pkgs.dev.azure.com/KorTerra/_packaging/Platform-Feed/npm/registry/:_password=NW5ncmlvd25zdXN4NGtxdDJtMnEzcTd6ZWJidHRmZDVjcGlqNWtmZ3Jwb3lpendxM3J1cQ==
//pkgs.dev.azure.com/KorTerra/_packaging/Platform-Feed/npm/registry/:email=jdemeuse@korterra.com
//pkgs.dev.azure.com/KorTerra/_packaging/Platform-Feed/npm/:username=KorTerra
//pkgs.dev.azure.com/KorTerra/_packaging/Platform-Feed/npm/:_password=NW5ncmlvd25zdXN4NGtxdDJtMnEzcTd6ZWJidHRmZDVjcGlqNWtmZ3Jwb3lpendxM3J1cQ==
//pkgs.dev.azure.com/KorTerra/_packaging/Platform-Feed/npm/:email=jdemeuse@korterra.com
; end auth token